body{
  margin: 0px;
}
.logo  {
background-image: none;
text-align: left;
z-index: 5;
color: white;
font-size: 30px;
font-style: italic;
/* text-align: center; */
position: fixed;
padding: 10px 0px 10px;
top: 0px;
font-family: Century Gothic;
font-weight: lighter;
display: flex;
align-items:  center;
width: 100%;
background-image: linear-gradient(to bottom, #030503, rgba(229, 223, 228, 0));
transition: all 0.4s ease-in-out;

}

.logo.scrolled {
background-color: #203e16;
background-image: none;
color: #bc9600ce;
transition:all 0.4s ease-in-out;
}

.navbar.scrolled {
background-color: white;
  transition:all 0.4s ease-in-out;

}
.navbar {
z-index: 5;
position: fixed;
background-color: transparent;
transition: all 0.4s ease-in-out;
margin-left: 20px;
top: 55px;
display: flex;
align-items:  baseline;
width: 100%;


}

.cas {
display: inline-flex;
color: black;
font-weight: bold;
font-size: 15px;
text-decoration: none;
font-family:  Century Gothic;  
padding: 10px 10px 10px; transition: all 0.3s ease-in-out;
border-bottom: 4px transparent solid; 
}

.cas:hover {
border-bottom: 4px #203e16 solid; 
}
.cas.scrolled {
color: #14280d;
}
.span{
  /* color: #203e16; */
  color: white;
}
.titre{
  /* padding-top: 180px; */

 font-size: 60px;
 /* font-family: Britannic Bold; */
 font-family:  Century Gothic;
font-weight: bold;
text-align: center;
color: #bc9600ce;

}
.box1{
  background-image: url("../img/persona-utilizando-un-ordenador-portatil.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* filter: blur(3px);  */
  /* background-color: aqua; */
  

}
.box2{
  background-color: rgb(230, 232, 232);
  display: flex;
  flex-direction: row;
  height: 55vh;
  
  
  
}
h3{
  font-size:35px;
  font-family:  Century Gothic;  
  padding-left: 70px;
  /* font-family:  Century Gothic; */
  color: #bc9600ce;
  /* font-style: italic; */
  /* text-decoration: underline #bc9600ce; */
}
li{
  color: #14280d;
  font-family:  Century Gothic;
}
ul{
  font-size: 22px;
}
.inscrivez {

padding: 10px;
background-color: #bc9600ce;
color: white;
margin-bottom: 15%;
border-radius: 5px;
border: none;
font-size: 15px;
font-weight: bold;

}
.fichiers{
  /* margin: 50px; */
  margin-left: 70px;
  margin-top: 50px;
}
.fichiersimg{
  height: 260px;
  width: 270px;
  margin: 70px;
  margin-left: 140px;

  
}
.rmq{
  margin-left: 60px;
  margin-top: 50px;
}
.box3{
  display: flex;
 
  flex-direction: row; background-color: rgb(230, 232, 232);
  height: 55vh;
}
.box4{
  height: 65vh;
}
.box41{
  display: flex;
   flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.criteres{
  text-align: center;
  font-family:  Century Gothic;  

}
.shadowbox{
  box-shadow: 10px 10px 10px rgb(233, 232, 232);
  background-color: beige;                      
  width: 30%;
  height: max-content;
  border-radius: 10px;
  margin: 20px;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.shadowbox:hover{
transform: scale(1.1);

}

.niveau{
  text-align: center;
  color: #14280d;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  
}
footer{
background-color: rgb(13, 13, 13);
display: flex;
flex-wrap: wrap;
}
.logo3 {
color: #bc9600ce;
font-size: 20px;
font-style: italic;
font-weight: 500;
text-align: left;
font-family: Century Gothic;
font-weight: bold; 
margin-top: -5%;
}
.span3 {
color: #fff;
}
h5{
color: rgb(197, 197, 192);
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;


}
.linkf{
color: rgb(182, 180, 180);
text-decoration: none;

}
.socialmedia{
margin-top: 10%;
text-align: center;
border-left: #a09b9b 1px solid;
padding-left: 20px;
height: 90%;

}
.help{
border-left: #a09b9b 1px solid;
padding-left: 20px;
height: 90%;
}
.icon{
text-decoration: none;

color: white;

font-size: 20px;
}
.secon{
padding: 50px;

}
.third{

padding: 50px;
text-align: justify;
}
.one{
padding: 50px;
}
.a{
text-align: justify;
}
.rev{
transform: translateY(100px);
transition: all 1s ease ;opacity: 0;
}
.rev.active{
transform: translateY(0px);

opacity: 1;
}

.parag_faq{
margin: 30px;
font-family:  Century Gothic;
font-size:large;

}
.faq-container {
border: 1px solid #ccc;
border-radius: 5px;
padding: 10px;
margin-left: 20px;
margin-right: 20px;
margin-bottom: 10px;
cursor: pointer;
position: relative;
overflow: hidden;
transition: all 0.3s ease;
}

.question {
font-weight: bold;
display: inline-block;
margin-right: 20px;
font-family:  Century Gothic;
font-size: 20px;
color: #203e16;
}

.show-answer {
position: absolute;
top: 10px;
right: 10px;
font-size: 20px;
cursor: pointer;
transition: transform 0.3s ease;
}

.answer {
display: none;
margin-top: 10px;
opacity: 0;
font-family:  Century Gothic;
transition: opacity 0.3s ease;
font-size: 18px;
transition: all 0.3s ease-in-out;
}

.faq-container.open .answer {
display: block;
opacity: 1;
}
.faq-container.open .show-answer {
transform: rotate(180deg); 
}


@media screen and (max-width: 800px) {


.titre {
  font-size: 40px; 

}

.box1 {
  height: 80vh; 
}

.box2,
.box3,
.box4 {
  height: auto; 
}

.fichiersimg {
  margin: 20px; 
  margin-left: 80px; 
}
.fichiersimg{
  display: none;
}
.shadowbox {
  width: 90%; 
  margin: 10px; 
}

.faq-container {
  margin-left: 10px;
  margin-right: 10px;
}

.question {
  font-size: 18px; 
}

.socialmedia,
.help {
  padding: 20px;
  text-align: center;
}

.one,
.secon,
.third {
  padding: 20px;
}

.rev {
  transform: translateY(50px); 
}
}
